
a:link {
	transition: all .5s, color .5s;
}

.layout-single-column {
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	z-index: 25;
}

.large-layout-single-column {
	max-width: 920px;
	margin: 0 auto;
	position: relative;
	z-index: 25;
}

.site-branding {
	margin: 40px auto;
	padding: 20px auto;
	text-align: center;
	border-bottom: 1px solid #ccc6bb;
	.site-title {}
	.site-description {}
}
